body {
    background: #78a8c2;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .quote-card {
    background: url(./img/background-sky.jpeg);
    color: white;
  }

  /* JOURNAL SECTION */

  .journal__title--date {
      padding: .5em;
      color: #6c757d;
  }

  .feelings {
      padding-bottom: .5em;
  }

  .add__btn {
      background-color: #78a8c2;
  }
  .add {
      padding-top: 2em;
  }

  /* DOMINANT FEELING DROPDOWN COLOURS */

  .fa-smile-beam {
      color: #f2eb0c;
  }
  .fa-cloud-showers-heavy {
    color: #94948f;
  }
  .fa-fire {
      color: #a6e0e3
  }
  .fa-angry {
      color: red;
  }
  .fa-thumbs-up {
      color: #a6afe3;
  }
  .fa-bed {
      color: #0f07f5;
  }

  /* CALENDAR */

  .calendar-card {
      padding: 2em;
  }